################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MauiApp1/obj/Debug/net8.0-android/designtime/build.props
/MauiApp1/obj/Debug/net8.0-android/resizetizer/sp/drawable/maui_splash_image.xml
